## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
%matplotlib inline 
#I found that the magic key displayed on the previouse code line is great to include inside the code to allow it to run properly on jupyter lab. I got this form the following videos URL:https://www.linkedin.com/learning/pandas-essential-training/basic-plotting?u=38416468
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
import numpy as np



# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#Check that the df are read and displayed with a print statment 
#mouse_metadata.head()
#study_results.head()

# Combine the data into a single dataset
merge_df = pd.merge(mouse_metadata, study_results, on ="Mouse ID")

# Display the data table for preview
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
mice_count = merge_df["Timepoint"].value_counts()[0]
print(f'There are a total of {mice_count} in this data set')

There are a total of 250 in this data set

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicated_values = merge_df[merge_df.duplicated()]
#I understood the .duplicated() funciton thanks to this website: https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/#:~:text=To%20find%20%26%20select%20the%20duplicate,argument%20is%20'first').
duplicated_values

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.0,0

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
Duplicated_Mouse = merge_df.loc[merge_df['Mouse ID'] == 'g989']
Duplicated_Mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
index_name= merge_df[merge_df['Mouse ID']=='g989'].index
#index_names.head()
df = merge_df.drop(index_name)
df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
# Checking the number of mice in the clean DataFrame.
clean_df_mice_count = df["Timepoint"].value_counts()[0]
print(f'There are a total of {clean_df_mice_count} in the clean dataframe, no duplicated values are in here!')

There are a total of 248 in the clean dataframe, no duplicated values are in here!

In [7]:
df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

## Summary Statistics

In [39]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 

mean = df.groupby('Drug Regimen').mean() ["Tumor Volume (mm3)"]
median = df.groupby('Drug Regimen').median() ["Tumor Volume (mm3)"]
variance = df.groupby('Drug Regimen').var() ["Tumor Volume (mm3)"]
standar_deviation = df.groupby('Drug Regimen').std() ["Tumor Volume (mm3)"]
sem = df.groupby('Drug Regimen').sem() ["Tumor Volume (mm3)"]

# Assemble the resulting series into a single summary dataframe.
summary_statistics_table = pd.DataFrame({"Mean": mean,
                                        "Median": median,
                                        "Variance": variance,
                                        "Standar Deviation": standar_deviation,
                                        "SEM": sem})
summary_statistics_table

                   Mean     Median   Variance  Standar Deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764           4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177           6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684           6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577           8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479           8.134708  0.596466
Placebo       54.033581  52.288934  61.168083           7.821003  0.581331
Propriva      52.320930  50.446266  43.852013           6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704           4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562           7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355           6.966589  0.516398

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Using the aggregation method, produce the same summary statistics in a single line
summary_df = df.groupby('Drug Regimen').agg({'Tumor Volume (mm3)':['mean', 'median','var', 'std', 'sem' ]})
summary_df

             Tumor Volume (mm3)
                           mean     median        var       std       sem
Drug Regimen
Capomulin             40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin              52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol             52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril              55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol              54.331565  52.509285  66.173479  8.134708  0.596466
Placebo               54.033581  52.288934  61.168083  7.821003  0.581331
Propriva              52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane              40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn              54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol             53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [41]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [48]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [49]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen